<%= form_with(model: sale, scope: :sale, url:auctify_sales_path, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
        <% sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seller_auctify_id %>
    <%= form.select(:seller_auctify_id, auctify_id_options_for_select(:seller))  %>
  </div>

  <div class="field">
    <%= form.label :buyer_auctify_id %>
    <%= form.select(:buyer_auctify_id, auctify_id_options_for_select(:buyer)) %>
  </div>

  <div class="field">
    <%= form.label :item_auctify_id %>
    <%= form.select(:item_auctify_id, auctify_id_options_for_select(:item)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
