<p id="notice"><%= notice %></p>

<h1>Sales</h1>
<% unless params[:list_all].to_s == "1" %>
  Listed only published sales. Do you want <%= link_to 'all',auctify_sales_path(params: { list_all: 1}) %>?
<% end %>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Buyer</th>
      <th>Item</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.seller&.name %></td>
        <td><%= sale.buyer&.name %></td>
        <td><%= sale.item.name %></td>
        <td><%= sale.published? ? "YES" : "NO" %></td>
        <td><%= link_to 'Show',auctify_sale_path(sale) %></td>
        <td><%= link_to 'Edit', edit_auctify_sale_path(sale) %></td>
        <td><%= link_to 'Destroy',auctify_sale_path(sale), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_auctify_sale_path %>
