<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= @sale.seller.name %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @sale.buyer&.name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @sale.item.name %>
</p>

<%= link_to 'Edit', edit_auctify_sale_path(@sale) %> |
<%= link_to 'Back',auctify_sales_path %>
