<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to("Users", users_path) %>
    <%= link_to("Things", things_path) %>
    | <%= link_to("Sales", auctify.auctify_sales_path) %>
    <hr />
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <hr />

    <%= yield %>
  </body>
</html>
