<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @bid.registration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bid.price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @bid.max_price %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
